version: '3.8'
name: star-wars-api

services:
    mongo:
        container_name: mongo-db
        restart: unless-stopped
        image: mongo:latest
        ports:
            - '27017:27017'
        networks:
            - starwars
    database:
        container_name: database-starwars
        restart: unless-stopped
        image: database-starwars:latest
        build:
            context: ./database
        ports:
            - '7004:7004'
        depends_on:
            - mongo
        networks:
            - starwars

    gateway:
        container_name: gateway-starwars
        restart: unless-stopped
        image: gateway-starwars:latest
        build:
            context: ./gateway
        ports:
            - '7000:7000'
        networks:
            - starwars

    characters:
        container_name: characters-starwars
        restart: unless-stopped
        image: characters-starwars:latest
        build:
            context: ./characters
        ports:
            - '7001:7001'
        networks:
            - starwars

    films:
        container_name: films-starwars
        restart: unless-stopped
        image: films-starwars:latest
        build:
            context: ./films
        ports:
            - '7002:7002'
        networks:
            - starwars

    planets:
        container_name: planets-starwars
        restart: unless-stopped
        image: planets-starwars:latest
        build:
            context: ./planets
        ports:
            - '7003:7003'
        networks:
            - starwars

networks:
    starwars:
